* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.paddingY {
    padding: 100px 0;
}

/* header */
.header {
    width: 100%;
    border-bottom: 1px solid #EDEDED;

    .headerBlock {
        width: 100%;
        min-height: 102px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }

    .headerLeft {
        display: flex;
        align-items: center;
        gap: 6px;

        h2 {
            font-size: 21.25px;
            line-height: 24.43px;
            font-family: var(--arialBold);
            font-weight: 700;

            span {
                font-family: var(--arialRegular);
                font-weight: 400;
            }
        }
    }
}

/* End header */

/* hero Section */
.heroSection {
    width: 100%;

    .heroBlock {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .aboutDetailHero {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .leftSideHero {
        width: 100%;
        max-width: 470px;
    }

    .rightSideHero {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 60px;
        width: 100%;
        max-width: calc(100% - 530px);

        .profileImg {
            width: 100%;
            max-width: 460px;
        }
    }

    .verticalFontBlock {
        width: 100%;
        max-width: 25px;
        display: flex;
        align-items: center;
        gap: 8px;
        writing-mode: vertical-lr;

        .borderLineVertical {
            width: 1px;
            height: 250px;
            background: #595959;
        }

        .socialMediaBlock {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .socialMediaBlock svg path {
            transition: 0.3s;
        }

        h3 {
            color: #595959;
            line-height: 150%;
            font-family: var(--arialRegular);
            text-wrap: nowrap;
        }
    }

}

/*End hero Section */

/* my Design Section */
.myDesignSection {
    width: 100%;
    background: url('../../../public/assets/svg/arrowLine.svg');
    background-repeat: no-repeat;
    background-position: 99.5% 23%;

    .myDesignBlock {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 20px;
        width: 100%;
    }

    .contentCardProcess {
        text-align: center;

        p {
            color: #595959;
            line-height: 120%;
        }
    }

    .designProcessCardWrap {
        width: 100%;

        .designImage {
            width: 100%;
        }
    }
}

/* End my Design Section */

/* experence section */
.toolUseSection {
    width: 100%;

    .experienceWithTollWrap {
        display: flex;
        align-items: flex-start;
        gap: 150px;
    }

    .leftSideToolsUse {
        width: 100%;
        max-width: 190px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .rightSideExperience {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        max-width: calc(100% - 340px);
    }

    .iconUseBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 28px;
    }

    .rightSideExperience ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .rightSideExperience ul li {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
            line-height: normal;
        }
    }

}

/* End experence section */
.commonHeading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* my project section */
.myProjectSection {
    width: 100%;

    .commonHeading .iconHeading {
        position: relative;

        img {
            position: absolute;
            right: -46px;
            top: -21px;
        }
    }

    .myProjectBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .myProjectCardWrapper {
        background: var(--white) url('../../../public/assets/svg/projectCardVector.svg');
        background-position: 0% 0%;
        background-repeat: no-repeat;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 48px;
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
    }

    .myProjectCardWrapper:hover {
        box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.05);
    }

    .leftProjectCard {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: calc(100% - 608px);
        padding: 50px 100px;
        padding-right: 0;
    }

    .projectcardImg {
        width: 100%;
        max-width: 584px;
    }

}

.tabWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.tabWrapper .tagBlock {
    border-radius: 8px;
    background: #EDEDED;
    padding: 8px 12px;
    color: var(--black);
    line-height: normal;
}

/* End my project section */

/* Event section */
.eventSection {
    width: 100%;

    .eventBlockWrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .eventBlockWrap .eventCardWrapper {
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        background: var(--white);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.20);
    }

    .eventCardContent {
        padding: 16px;
    }
}

/* End Event section */